body {
    background-color: black;
}

p {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: antiquewhite;
}

a {
    color: antiquewhite;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
/* Estilizando o título */
h3 {
    color: #333; /* Cor do texto */
    font-family: Arial, sans-serif; /* Fonte */
}

/* Estilizando o ícone do WhatsApp */
i.fab.fa-whatsapp-square {
    font-size: 24px; /* Tamanho do ícone */
    margin-right: 10px; /* Margem à direita para separá-lo do texto */
}

/* Estilizando o email */
h3.email {
    font-size: 16px; /* Tamanho do texto do email */
    font-style: italic; /* Estilo itálico */
}

/* Estilizando o texto do parágrafo */
h3.bio {
    line-height: 1.5; /* Espaçamento entre linhas do texto */
}
